body {
}

.logo-img
{
    max-height:150px;
    max-width:150px;
    min-height:100px;
    min-width:100px;
}

.main-title 
{
    margin:auto;
    margin-top:50px;
}

.nav-menu-icon {
    font-size:50px;
}

.center-nav-item {
    padding:20px;
}