@{
    ViewData["Title"] = "LoginView";
    Layout = null;
}

<body>

    <div class="row">
        <div class="col-sm-2">
            <a asp-controller="Login" asp-action="Index"><img src="~/content/images/Logo.png" /></a>
        </div>
    </div>

    <div class="row">
        <div class="container col-sm-6">

            <h2 class="text-center">Welcome!</h2>
            <form method="post" enctype="multipart/form-data" asp-controller="Login" asp-action="Connect">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input name="username" type="text" class="form-control formInput" id="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input name="password" type="password" class="form-control formInput" id="password" required>
                </div>
                <div class="row">
                    <div class="checkbox col-sm-8">
                        <label><input type="checkbox"> Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary col-sm-4">Login</button>
                </div>
            </form>

            <div class="row alert alert-danger" style="margin-top:50px">
                <strong>Log in failed !</strong> Invalid username or password. Please try again.
            </div>

            <div class="row" style="margin-top:50px">
                <a class="nav-link" href="#"><u>Forgot password?</u></a>
            </div>

            <div class="row">
                <a class="nav-link" asp-area="" asp-controller="Signup" asp-action="Index"><u>Sign up</u></a>
            </div>

        </div>
    </div>

</body>