
@{
    ViewData["Title"] = "SignupConfirmation";
    Layout = null;
}

<div class="row">
    <div class="col-sm-2">
        <a asp-controller="Login" asp-action="Index"><img src="~/content/images/Logo.png" /></a>
    </div>
</div>

<div class="row">
    <div class="container col-sm-6">
        <h2 class="text-center">Confirmation email sent!</h2>
        <p>Please check your inbox to see if you received the email sent to confirm your account.</p>
        <p><b>Note:</b> An unconfirmed account will not be able to use any of the functionalities provided by the application.</p>
        <br />
        <p>Did not receive an email? <a asp-controller="Signup" asp-action="ResenedConfirmation"><u>Resend confirmation mail.</u></a> </p>
    </div>
</div>
